<div class="event">
  <div class="content">
    <div class="summary">
      [<%= message[:created_at].strftime("%H:%M:%S") %>] <%= message.user.username %>: <%= message[:body] %>
    </div>
  </div>
</div>