<h3 class="ui center aligned icon header">
	<em>MessageMe</em>
</h3>

<h3 class="ui center aligned icon header">
	<i class="circular bullhorn icon teal inverted relaxed"></i>
</h3>

<h4 class="ui center aligned header">
	<div class="ui teal message">Edit your profile information.</div>
</h4>

<div class="ui placeholder raised segment">
  <div class="ui one column very relaxed stackable grid">
  	<%= render 'form' %>
  </div>
</div>