    <div class="ui tiny menu inverted teal">
      <div class="ui container">
        <a class="teal item" href="/">Chat</a>
        <a class="teal item">Messages</a>
        <div class="right menu">
          <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
              <a class="teal item">Log out</a>
              <a class="teal item">Log in</a>
              <a class="teal item">Sign up</a>
            </div>
          </div>
          <div class="item">
              <a class="ui primary button" href="login">Login</a>
          </div>
        </div>
      </div>
    </div>